body{
background:linear-gradient(135deg,#141e30,#243b55);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
}

.container{
background:white;
padding:40px;
border-radius:10px;
text-align:center;
}

input{
padding:15px;
width:300px;
margin:10px;
}

button{
padding:15px;
width:100%;
background:#243b55;
color:white;
border:none;
}

.result{
margin-top:20px;
padding:20px;
font-size:24px;
opacity:0;
}

.result.show{
animation:blink 0.5s,fadeIn 0.5s forwards;
}

@keyframes blink{
0%{background:red;}
50%{background:green;}
100%{background:blue;}
}

@keyframes fadeIn{
from{opacity:0;}
to{opacity:1;}
}
